.container {
  max-width: 360px;
  margin: 0 auto;
}

.imageSection {
  display: flex;
  margin-bottom: 20px;
  justify-content: center;
}

.imageItem {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imageWrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.poseSvg {
  width: 100%;
  height: 100%;
  display: block;
}

.fallbackImage {
  /* width: 100%; */
  height: 70%;
  object-fit: cover;
  object-position: center;
  display: block;
}

/* 가운데 세로 라인 */
.centerLine {
  stroke: #ff0000;
  stroke-width: 2;
  stroke-linecap: round;
}

/* 가로 / 세로 라인 */
.horizontalLine {
  stroke: #01d5e5;
  stroke-width: 2;
  stroke-linecap: round;
}

.verticalLine {
  stroke: #24ad6e;
  stroke-width: 2;
  stroke-linecap: round;
}

/* 아래 디테일 카드 쪽 */
.detailList {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.detailItem {
  background: white;
  border-radius: 6px;
  overflow: hidden;
  border: 1px solid #eeeeee;
}

.topSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 44px;
}

.leftInfo {
  display: flex;
  flex-direction: column;
  width: 154px;
  flex-shrink: 0;
  justify-content: center;
  gap: 2px;
  padding-left: 8px;
}

.headerLabel {
  padding-top: 2px;
  font-size: 10px;
  color: #d9d9d9;
  font-weight: 400;
}

.measureUnit {
  font-size: 14px;
  font-weight: 500;
  color: #7e7e7e;
}

.centerInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 44px;
  height: 44px;
  justify-content: center;
  border-left: 1px solid #eeee;
  border-right: 1px solid #eeee;
}

.dataValue {
  font-size: 10px;
  font-weight: 500;
  color: #7E7E7E;
}

.rightProgressSection {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2px;
  position: relative;
  background-image:
    repeating-linear-gradient(
      to bottom,
      #eeeeee 0px,
      #eeeeee 3px,
      transparent 3px,
      transparent 6px
    ),
    repeating-linear-gradient(
      to bottom,
      #eeeeee 0px,
      #eeeeee 3px,
      transparent 3px,
      transparent 6px
    );
  background-size: 1px 100%, 1px 100%;
  background-position: 32% 0, 66.66% 0;
  background-repeat: no-repeat;
}

.levelLabels {
  display: flex;
  justify-content: space-between;
  font-size: 10px;
  color: #AEAEAE ;
  margin-bottom: 2px;
  padding:0 15px;
}

.progressBar {
  height: 16px;
  border-radius: 2.5px;
  overflow: visible;
  position: relative;
}

.progressFill {
  height: 100%;
  transition: width 0.3s ease;
  border-radius: 0 4px 4px 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rangeLevel {
  font-size: 10px;
  font-weight: 400;
  color: #ffffff;
  white-space: nowrap;
}

.bottomSection {
  padding: 0 8px;
  background: #F0F0F0;
  min-height: 34px;
  display: flex;
  align-items: center;
}

.ment {
  font-size: 12px;
  color: #7E7E7E;
  line-height: 1.4;
  margin: 0;
}

.imageLabel {
  margin: 6px auto 0;
  font-size: 14px;
  color: #454545;
  width: 100px;
  height: 20px;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 데스크톱 반응형 (1024px 이상) */
@media (min-width: 1024px) {
  .container {
    max-width: 976px;
    margin-bottom: 20px;
  }
  .imageSection {
    gap: 305px;
  }
  .imageItem{
    margin-top: 16px;
  }
  .detailList {
    display: grid;
    grid-template-columns: 480px 480px;
    gap: 16px;
    min-width: 976px;
  }


  .leftColumn,
  .rightColumn {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}
