.tabMenu {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3열 × 2행 */
  gap: 6px; /* 버튼 간 간격 */
  width: 100%;
  background: #fff;
  padding: 6px;
  box-sizing: border-box;
}

.tabButton {
  font-size: 13px;
  font-weight: 500;
  color: #D9D9D9;
  background:#fff;
  border: none;
  border-radius: 4px;
  padding: 4px 0;
  cursor: pointer;
  transition: all 0.2s ease;
}

.tabButton:hover {
  color: #9ca3af;
  background: #f3f4f4;
}

.active {
  background: #3f3f3f;
  color: #fff;
}


/* 태블릿/데스크톱 대응 */
@media (min-width: 720px) {
 .tabMenu {
  display: flex;
  gap: 37px;
  width: 100%;
  background: #fff;
  box-sizing: border-box;
  margin:0 63px;
  }

  .tabButton{
    width: 118px;
    height: 40px;
  }
}