.container {
  background: white;
  width: 320px;
  margin: 0 auto;
  box-sizing: border-box;
}

.title {
  font-size: 16px;
  font-weight: 700;
  color: #454545; 
  margin-bottom: 12px;
}

/* 범례 */
.legend {
  display: block;
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-bottom: 8px;
}
.table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0; 
}

/* 헤더 */
.headerCell {
  background: white;
  font-size: 13px;
  font-weight: 600;
  color: #333;
  text-align: left;
}

.dateCell {
  background: white;
  font-size: 6px;
  font-weight: 400;
  color: #7E7E7E;
  text-align: center;
  white-space: nowrap;
}

/* 바디 */
.labelCell {
  background: white;
  font-size: 12px;
  font-weight: 500;
  color: #7E7E7E;
  text-align: center;
  max-width: 36px;
}

.heatCell {
  text-align: center;
}

.cellImage {
  width: 20px;
  height: 20px;
  display: block;
}


/* 카운트 */
.count {
  margin-top: 12px;
  font-size: 12px;
  color: #999;
  text-align: right;
}

/* 에러 상태 */
.noData {
  padding: 40px 20px;
  text-align: center;
  font-size: 14px;
  color: #999;
}



/* 데스크톱 반응형 (1024px 이상) */
@media (min-width: 1024px) {
  .container {
    width: 480px;
    flex-shrink: 0;
    padding: 0;
    margin: 0;
  }
  .legend {
    margin-bottom: 12px;
  }
  .table {
    border-spacing: 4px;
  }
  .dateCell {
    width: 33.33px;
    height: 12px;
  }
  .labelCell {
    width: 36px;
  }
  .heatCell {
    width: 33.33px;
    padding: 0;
  }
  .cellImage{
    width: 33.33px;
    height: 20px;
  }

}