.header {
  background-color: #FFFFFF;
  color:hwb(from color h w b)#444444;
  display: flex;
  flex-direction: column; /* 세로 배치로 변경 */
  gap: 12px;
  align-items: left;
  border-bottom: 1px solid var(--border-color);
}

.userName{
  font-weight: 600;
  font-size: 20px;
  font-family: SUIT Variable;
}

.testDate{
  font-weight: 400;
  font-size: 16px;
  color: #BBBBBB;
  margin-bottom: 8px;
}


/* 아주 작은 화면 대응 */
@media (max-width: 360px) {
  .title {
    font-size: 20px;
  }
  
  .userInfo {
    font-size: 12px;
    padding: 8px 10px;
    gap: 6px;
  }
  
  .logo {
    width: 45px;
    height: 45px;
    font-size: 32px;
  }
}