.header {
  background-color: #FFFFFF;
  color:hwb(from color h w b)#444444;
  display: flex;
  flex-direction: column; /* 세로 배치로 변경 */
  gap: 12px;
  align-items: left;
  border-bottom: 1px solid var(--border-color);
}

.userName{
  font-weight: 600;
  font-size: 20px;
  font-family: SUIT Variable;
}

.testDate{
  font-weight: 400;
  font-size: 16px;
  color: #BBBBBB;
  margin-bottom: 8px;
}


/* 데스크톱 대응 (1024px 이상) */
@media (min-width: 1024px) {
  .header {
    flex-direction: row;
    gap: 16px;
    align-items: center;
    padding:22px 0 22px 63px;
  }
  .testDate {
    margin-bottom: 0;
  }
}