.container {
  padding: 16px;
  max-width: 360px;
  margin: 0 auto;
}

.imageSection {
  display: flex;
  margin-bottom: 20px;
  justify-content: center;
}

.imageItem {
  flex: 1;
  max-width: 180px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.imageWrapper {
  width: 100%;
  height: 100%;
  background-color: #000;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.landmarkOverlay {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; /* 마우스 이벤트 막기 */
}

/* 랜드마크 점 스타일 */
.landmarkDot {
  fill: #ff4a4a;
  stroke: #ffffff;
  stroke-width: 1;
}

.measureImage {
  /* width: 100%; */
  height: 70%;
  border-radius: 6px;
  object-fit: cover;
  object-position: center;
  flex-shrink: 0;
}

.imageLabel {
  margin: 6px auto 0;
  font-size: 11px;
  color: #454545;
  width: 100px;
  height: 20px;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 상위에서 데이터 받고 회전해야하는 이미지일경우 왼쪽으로 90도회전 */
.rotated {
  transform: rotate(-90deg);
}

.detailList {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.detailItem {
  background: white;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(0,0,0,0.08);
}

/* 상단 헤더 영역 */
.topSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8px;
  min-height: 44px;
}

.leftInfo {
  display: flex;
  flex-direction: column;
  width: 136px;
  justify-content: center;
  gap: 2px;
  min-height: 44px
}

.headerLabel {
  padding-top: 2px;
  font-size: 10px;
  color: #d9d9d9;
  font-weight: 400;
}

.measureUnit {
  font-size: 12px;
  font-weight: 500;
  color: #7e7e7e;
  white-space: pre-line;
}

.centerInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 44px;
  height: 44px;
  justify-content: center;
  border-left: 1px solid #eeee;
  border-right: 1px solid #eeee;
}

.dataValue {
  font-size: 10px;
  font-weight: 700;
  color: #333;
}

.rightProgressSection {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2px;
  padding-left: 8px;
  max-width: 140px;
}

.levelLabels {
  display: flex;
  justify-content: space-between;
  font-size: 9px;
  color: #999;
  margin-bottom: 2px;
}

.progressBar {
  height: 10px;
  border-radius: 2.5px;
  overflow: visible;
  position: relative;
}

.progressFill {
  height: 100%;
  transition: width 0.3s ease;
  border-radius: 2.5px;
  position: relative;
}

/* 하단 설명 영역 */
.bottomSection {
  padding: 8px 10px;
  background: #f5f5f5;
  max-height: 34px;
  display: flex;
  align-items: center;
}

.ment {
  font-size: 10px;
  color: #666;
  line-height: 1.4;
  margin: 0;
}

/* 로딩 및 에러 상태 */
.loading,
.noData {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  font-size: 14px;
  color: #666;
}