.imageWrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.measureImage {
  height: 70%;
  border-radius: 6px;
  object-fit: cover;
  object-position: center;
  flex-shrink: 0;
}
